<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//my-aws-pizza-bucket.s3-us-west-2.amazonaws.com/css/stylesheet.css" />
    <link rel="shortcut icon" href="//my-aws-pizza-bucket.s3-us-west-2.amazonaws.com/favicon.ico" type="image/x-icon">
    <title>pizza luvrs</title>
  </head>
  {{{content}}}
</html>
